@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
/* nav start here */
nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 0;
} 
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.nav-container ul{
    list-style: none;
    display: flex;
}
.nav-container ul li{
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-top: 22px;
}
.nav-container ul li a{
    text-decoration: none;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    color: #000;
}
.bar-menu{
    display: none;
}
/* nav end here */
/* banner section start here */
.banner-title{
    -webkit-text-stroke: 1px #000;
    font-size: 80px;
    color: white;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.simple-title{
    color: #000;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    /* margin: 0px; */
    margin-top: -23px;
    /* padding: 0px; */
    line-height: 1.1;
    font-family: 'Poppins';
}
.sub-title{
    color: #767676;
    display: inline-block;
    font-style: italic;
    font-family: 'poppins';
    padding-top: 16px;
} */
/* .banner{
    position: relative;
    height: 100vh;
    width: 80%;
} */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.content-inner{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 500555;
}
.main-slider{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    overflow: hidden;
}
.slider{
    height: 100%;
    width: 100%;
}
.slide{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(100%);
    z-index: -1;
}
.slide.active{
    transform: translateX(0);
    z-index: 3;
}
.slide.top{
    transition: .6s ease transform;
    z-index: 3;
}
.slide-1{
    background-image: url(https://images.pexels.com/photos/7241540/pexels-photo-7241540.jpeg?auto=compress&cs=tinysrgb&w=1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slide-2{
    background-image: url(https://images.pexels.com/photos/3875643/pexels-photo-3875643.jpeg?auto=compress&cs=tinysrgb&w=1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.slide-3{
    background-image: url(https://images.pexels.com/photos/4624889/pexels-photo-4624889.jpeg?auto=compress&cs=tinysrgb&w=1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.slide-4{
    background-image:url(https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&w=1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* banner section end here */
/* Responsive */
@media (max-width:750px){
    .bar-menu{
        display: block;
    }
    .bar-menu i{
        font-size: 26px;
    }
    .logo img{
        width: 42px;
    }
    nav {
        background-color: #fff;
        border-bottom: 1px solid #000;
        padding: 13px 0px;
        z-index: 1000000;
    }
    .nav-container {
        width: 91%;
        margin: 0 auto;
    }
    .nav-container ul {
        padding-top: 7px;
        flex-direction: column;
        position: absolute;
        top: 54px;
        left: 0px;
        background-color: #fff;
        width: 100%;
        padding-bottom: 20px;
    }
    .nav-container ul li{
        margin: 0;
        padding: 0;
        margin-left: 22px;
        margin-top: 22px;
    }
    .main-slider{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
@media (max-width:500px){
    .banner-title{
        font-size: 50px;
        margin: 0!important;
    }
    .simple-title{
        font-size: 50px;
        margin-top: -11px;
    }
    .sub-title{
        padding-top: 16px;
        font-size: 16px;
    }
    .content-inner{
        left: 4%;
    }
}